@model Liki.Web.Models.Register
<div>
    @Html.ValidationSummary(true)
</div>

<table>
    <tr>
        <td class="labelY">
            @Html.LabelFor(m => m.Title)
        </td>
        <td class="labelY">
            @Html.TextBoxFor(m => m.Title, new { id = "txtTitle" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => m.Title)
        </td>
    </tr>

    <tr>
        <td class="labelY">
            @Html.LabelFor(m => m.EmailAddress)
        </td>
        <td class="labelY">
            @Html.TextBoxFor(m => m.EmailAddress, new { id = "txtEmailAddress" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </td>
    </tr>

    <tr>
        <td class="labelY">
            @Html.LabelFor(m => m.FirstName)
        </td>
        <td class="labelY">
            @Html.TextBoxFor(m => m.FirstName, new { id = "txtFirstName" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => m.FirstName)
        </td>
    </tr>

    <tr>
        <td class="labelY">
            @Html.LabelFor(m => m.MiddleName)
        </td>
        <td class="labelY">
            @Html.TextBoxFor(m => m.MiddleName, new { id = "txtMiddleName" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => m.MiddleName)
        </td>
    </tr>


    <tr>
        <td class="labelY">
            @Html.LabelFor(m => m.LastName)
        </td>
        <td class="labelY">
            @Html.TextBoxFor(m => m.LastName, new { id = "txtLastName" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => m.LastName)
        </td>
    </tr>

    <tr>
        <td class="labelY">
            @Html.LabelFor(m => m.Suffix)
        </td>
        <td class="labelY">
            @Html.TextBoxFor(m => m.Suffix, new { id = "txtSuffix" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => m.Suffix)
        </td>
    </tr>

    <tr>
        <td class="labelY">
            @Html.LabelFor(m => m.Password)
        </td>
        <td class="labelY">
            @Html.PasswordFor(m => m.Password, new { id = "txtPassword" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => m.Password)
        </td>
    </tr>
</table>
