<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*  Start -- For Integrate Query Builder *@

@*  

    <script src="@Url.Content("~/Scripts/eq-all-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/easyquery.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/eqview.css")" rel="stylesheet" type="text/css" />*@

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/acc-wizard.min.css")" rel="stylesheet" type="text/css" />
    
    @* <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/minified/jquery-ui.min.css" rel="stylesheet" type="text/css" />*@

    @*End*@


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <img src="../../Images/LIKI.png"/>
                        @*@Html.ActionLink("LeaseItKeepIt", "Index", "Register")*@
                       @* <a href = '@Url.Action("Index", "Register")'>
                            <img src="../../Images/LIKI.png"/>
                        </a>*@

                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@*@Html.ActionLink("LIKI", "Index", "Register")*@</li>
                            @*<li>@Html.ActionLink("HomePage", "Index", "Home")</li>*@
                            <li>@*@Html.ActionLink("LikiHome", "Home", "Home")*@</li>
                            <li>@*@Html.ActionLink("Customer", "Customer", "Home")*@</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
           @* @RenderSection("featured", required: false)*@
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                @*<div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>*@
            </div>
        </footer>


    @*  Start -- Comment out for issue during integrate query Builder *@

     @* @Scripts.Render("~/bundles/jquery")*@

    @*End*@
     @Scripts.Render("~/bundles/jquery")
     @RenderSection("scripts", required: false)
     <script src="@Url.Content("~/Scripts/jquery-1.7.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/acc-wizard.min.js")" type="text/javascript"></script>

</body>
</html>
