@model IEnumerable<Liki.App.Service.DTO.UserDTO>

@{
    ViewBag.Title = "SearchResult";
}
<h2>Search Result</h2>

<table>
    <tr>
        <th>
            User ID
        </th>
        <th>
            User FirstName
        </th>
        <th>
            User LastName
        </th>
        <th>
            EmpAddress
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>

